.DS_Store
services/scraper/artifacts/
artifacts/
services/finetunning/qwen_qlora_podcast/
Finetuning/finetuning-for-podcast/Output/
Finetuning/finetuning-for-podcast/wandb/
Finetuning/finetuning-for-classification/wandb/
secrets/
**/.env
__pycache__/
*.pyc
logs/*.log
**/.env.local
**/OLD/

